<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wellbeing Advisor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C30E95B20F2B9B100D846E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F803AECC226DCF6D00C1D0C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F803AEDA226DCF7A00C1D0C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
